<div id="id01" class="modal">
  <div class="modal-dialog">
    <form #newClient="ngForm" (submit)="addOrUpdateClient()" id="newData" action="#">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">{{formsTitle}}</h2>
        </div>
        <div class="modal-body">
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="last-name">Фамилия</label>
              <input type="text" class="form-control" name="surname" [(ngModel)]="clientRecordsToSave.surname"
                     id="last-name" placeholder="Фамилия"
                     [ngClass]="{haserror:requiredNotFilled && clientRecordsToSave.surname == null}">
            </div>
            <div class="form-group col-md-4">
              <label for="first-name">Имя</label>
              <input type="text" class="form-control" name="name" [(ngModel)]="clientRecordsToSave.name" id="first-name"
                     placeholder="Имя" [ngClass]="{haserror:requiredNotFilled && clientRecordsToSave.name == null}">
            </div>
            <div class="form-group col-md-4">
              <label for="patronymic">Отчество</label>
              <input type="text" class="form-control" name="patronymic" [(ngModel)]="clientRecordsToSave.patronymic"
                     id="patronymic" placeholder="Отчество">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="inputCharm">Характер</label>
              <select class="form-control" id="inputCharm"
                      [ngClass]="{haserror:requiredNotFilled && clientRecordsToSave.charm.id == null}"
                      required
                      [(ngModel)]="clientRecordsToSave.charm.id" name="charm">
                <option *ngFor="let charm of charms" [ngValue]="charm.id">{{charm.name}}</option>
              </select>
            </div>
            <div class="form-group col-md-3">
              <label for="inputGender">Пол</label>
              <select class="form-control" id="inputGender"
                      [ngClass]="{haserror:requiredNotFilled && clientRecordsToSave.gender == null}"
                      required
                      [(ngModel)]="clientRecordsToSave.gender" name="power">
                <option *ngFor="let gender of genderTypes" [ngValue]="gender.type">{{gender.name}}</option>
              </select>
            </div>
            <div class="form-group col-md-5">
              <label for="inputBirthDate">Дата рождения</label>
              <input type="date" name="dateOfBirth" [(ngModel)]="clientRecordsToSave.dateOfBirth" class="form-control"
                     id="inputBirthDate"
                     [ngClass]="{haserror:requiredNotFilled && clientRecordsToSave.dateOfBirth == null}">
            </div>
          </div>
          <label for="addressFact">Адрес проживания</label>
          <div class="form-row" id="addressFact">
            <div class="form-group col-md-4">
              <!--<label for="inputStreet">Улица</label>-->
              <input type="text" name="streetF" [(ngModel)]="clientRecordsToSave.addressF.street" class="form-control"
                     id="inputStreet" placeholder="Улица"
                     [ngClass]="{haserror:requiredNotFilled && clientRecordsToSave.addressF.street == null}">
            </div>
            <div class="form-group col-md-4">
              <!--<label for="inputBuilding">Дом</label>-->
              <input type="text" name="buildingF" [(ngModel)]="clientRecordsToSave.addressF.house" class="form-control"
                     id="inputBuilding" placeholder="Дом"
                     [ngClass]="{haserror:requiredNotFilled && clientRecordsToSave.addressF.house == null}">
            </div>
            <div class="form-group col-md-4">
              <!--<label for="inputAprtm">Квартира</label>-->
              <input type="text" name="apartmentF" [(ngModel)]="clientRecordsToSave.addressF.flat" class="form-control"
                     id="inputAprtm" placeholder="Квартира"
                     [ngClass]="{haserror:requiredNotFilled && clientRecordsToSave.addressF.flat == null}">
            </div>
          </div>
          <label for="addressReg">Адрес регистрации</label>
          <div class="form-row" id="addressReg">
            <div class="form-group col-md-4">
              <!--<label for="streetF">Улица</label>-->
              <input type="text" name="streetR" [(ngModel)]="clientRecordsToSave.addressR.street" class="form-control"
                     id="streetF" placeholder="Улица"
                     [ngClass]="{haserror:requiredNotFilled && clientRecordsToSave.addressR.street == null}">
            </div>
            <div class="form-group col-md-4">
              <!--<label for="buildingF">Дом</label>-->
              <input type="text" name="buildingR" [(ngModel)]="clientRecordsToSave.addressR.house" class="form-control"
                     id="buildingF" placeholder="Дом"
                     [ngClass]="{haserror:requiredNotFilled && clientRecordsToSave.addressR.house == null}">
            </div>
            <div class="form-group col-md-4">
              <!--<label for="apartmentF">Квартира</label>-->
              <input type="text" name="apartmentR" [(ngModel)]="clientRecordsToSave.addressR.flat" class="form-control"
                     id="apartmentF" placeholder="Квартира"
                     [ngClass]="{haserror:requiredNotFilled && clientRecordsToSave.addressR.flat == null}">
            </div>
          </div>

          <label for="phoneNumbers">Номер телефона</label>
          <div id="phoneNumbers" class="clickable-row"
               *ngFor="let phoneNumber of clientRecordsToSave.phoneNumbers; let i = index">
            <div class="entry form-group">
              <div class=" col-md-4">
                <select [(ngModel)]="clientRecordsToSave.phoneNumbers[i].phoneType" name="phoneType{{i}}"
                        [ngClass]="{haserror:requiredNotFilled && clientRecordsToSave.phoneNumbers[i].phoneType == null}"
                        class="form-control">
                  <option *ngFor="let phoneType of phoneTypes" [ngValue]="phoneType.type">{{phoneType.name}}</option>
                </select>
              </div>
              <div class="input-group col-md-8">
                <input type="text" class="form-control" name="phoneNumber{{i}}" ngModel placeholder="Номер телефона"
                       [(ngModel)]="clientRecordsToSave.phoneNumbers[i].number"
                       [ngClass]="{haserror:requiredNotFilled && clientRecordsToSave.phoneNumbers[i].number == null}">
                <span class="input-group-btn">
                                        <button class="btn btn-success btn-add" type="button"
                                                (click)="addPhoneNumber()">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                        <button class="btn btn-danger btn-remove" type="button"
                                                (click)="removePhoneNumber(i)">
                                            <span class="glyphicon glyphicon-minus"></span>
                                        </button>
                                    </span>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" id="modal-form-submit">{{formsBtn}}</button>
          <button id="cancel-modal-submit" type="button" class="btn btn-default" data-dismiss="modal"
                  (click)="closeModalForm()">Отмена
          </button>
        </div>
      </div>
    </form>
  </div>
</div>