doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    link(id="favicon-link" rel="shortcut icon" type="image/png" href="img/favicon.png")
    include _no_cache
    include _bootstrap_head
    script(src="shim.min.js")
    script(src="zone.min.js")
    block head
  body
    block body