
<!--  MODAL FORM FOR CHANGE CLIENT INFORMATION  -->
<div *ngIf="visible" class="modal-form">
  <div class="modal-form-content">
    <div class="container">
      <div class="row">
        <div class="col-xs-11"></div>
        <div class="col-xs-1">
         <span class="closeModal" (click)="hideForm()">
        &nbsp;X&nbsp;
      </span>
        </div>
      </div>

      <!-- /////////////////// ERRORS ////////////////////////////////// -->
      <div *ngIf="errors === 'errorLoading'" class="text-center" action="">
        <h3>Произошла ошибка при загрузке данных, попробуйте снова</h3>
      </div>
      <div *ngIf="errors === 'loadingClient'" action="" class="text-center">
        <h3>Идет загрузка данных...</h3>
      </div>
      <div *ngIf="errors === 'savingClient'" action="" class="text-center">
       <h3> Сохраняем...</h3>
      </div>
      <div *ngIf="errors === 'errorSavingClient'" action="" class="text-center">
        <h3> Ошибка при сохранении данных, обновите страницу и попробуйте заново...</h3>
      </div>
      <!--////////////////////////////////////////////////////////////////-->

      <form *ngIf="errors === 'success'" action="">
        <div class="row">
          <div class="col-xs-4">
            <div class="row">
              <div class="col-xs-4">Имя:</div>
              <div class="col-xs-8">
                <input [(ngModel)]="clientDetails.name"
                       [ngModelOptions]="{standalone: true}"
                       (keyup)="updateButton()"
                       name="name"
                       type="text" class="inputForm">
                <span style="color: red">*</span>
              </div>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="row">
              <div class="col-xs-4">Фамилия:</div>
              <div class="col-xs-8">
                <input
                  [(ngModel)]="clientDetails.surname"
                  [ngModelOptions]="{standalone: true}"
                  (keyup)="updateButton()"
                  name="surname"
                  type="text" class="inputForm">
                <span style="color: red">*</span>
              </div>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="row">
              <div class="col-xs-4"> Отчество:</div>
              <div class="col-xs-8">
                <input
                  [(ngModel)]="clientDetails.patronymic"
                  [ngModelOptions]="{standalone: true}"
                  name="patronymic"
                  type="text" class="inputForm">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <hr>
          <div class="col-xs-4">
            <div class="row">
              <div class="col-xs-4">Пол:</div>
              <div class="col-xs-8">
                <input class="inputForm"
                       (click)="genderToM(); updateButton()"
                       [checked]="clientDetails.gender == 'male'"
                       value="male"
                       type="radio" name="gender">
                Мужской
                <input
                  (click)="genderToF(); updateButton()"
                  [checked]="clientDetails.gender == 'female'"
                  value="female"
                  class="inputForm" type="radio" name="gender">
                Женский
                <span style="color: red">*</span>
              </div>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="row">
              <div class="col-xs-4">Дата рождения:</div>
              <div class="col-xs-8">
                <input
                  (click)="updateButton()"
                  max="2016-12-30"
                  [(ngModel)]="clientDetails.dateOfBirth"
                  [ngModelOptions]="{standalone :true}"
                  class="inputForm" type="date">

                <span style="color: red">*</span>
              </div>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="row">
              <div class="col-xs-4"> Характер:</div>
              <div class="col-xs-8">
                <select
                  (click)="updateButton()"
                  [(ngModel)]="clientDetails.charmId"
                  class="inputForm" name="temper" id="">
                  <option *ngFor="let op of charms"
                          value={{op.id}}>
                    {{op.name}}
                  </option>
                </select>
                <span style="color: red">*</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <hr>
          <div class="col-xs-12">
            Адрес проживания (фактический): <span style="color: red">*</span><br><br>

          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <div class="row">
              <div class="col-xs-4">Улица:</div>
              <div class="col-xs-8">
                <input [(ngModel)]="clientDetails.factAddress.street"
                       [ngModelOptions]="{standalone: true}"
                       (keyup)="updateButton()"
                       type="text" class="inputForm">
              </div>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="row">
              <div class="col-xs-4">Дом:</div>
              <div class="col-xs-8"><input
                [(ngModel)]="clientDetails.factAddress.house"
                [ngModelOptions]="{standalone: true}"
                (keyup)="updateButton()"
                type="text" class="inputForm"></div>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="row">
              <div class="col-xs-4"> Квартира:</div>
              <div class="col-xs-8"><input
                [(ngModel)]="clientDetails.factAddress.flat"
                [ngModelOptions]="{standalone: true}"
                (keyup)="updateButton()"
                type="text" class="inputForm"></div>
            </div>


          </div>
        </div>
        <div class="row">
          <hr>
          <div class="col-xs-12">
            Адрес регистрации: <br><br>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <div class="row">
              <div class="col-xs-4">Улица:</div>
              <div class="col-xs-8"><input
                [(ngModel)]="clientDetails.regAddress.street"
                [ngModelOptions]="{standalone: true}"
                (keyup)="updateButton()"
                type="text" class="inputForm"></div>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="row">
              <div class="col-xs-4"> Дом:</div>
              <div class="col-xs-8"> <input
                [(ngModel)]="clientDetails.regAddress.house"
                [ngModelOptions]="{standalone: true}"
                (keyup)="updateButton()"
                type="text" class="inputForm"></div>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="row">
              <div class="col-xs-4"> Квартира:</div>
              <div class="col-xs-8"><input
                [(ngModel)]="clientDetails.regAddress.flat"
                [ngModelOptions]="{standalone: true}"
                (keyup)="updateButton()"
                type="text" class="inputForm"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <hr>
          <div class="col-xs-12">
            Телефоны: <br><br>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <div class="row">
              <div class="col-xs-4">Домашний:</div>
              <div class="col-xs-8"><input
                [(ngModel)]="clientDetails.phones.home"
                [ngModelOptions]="{standalone: true}"
                (keyup)="updateButton();"
                type="text" class="inputForm">
                <span style="color: red">*</span>
              </div>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="row">
              <div class="col-xs-4">   Рабочий:</div>
              <div class="col-xs-8"><input
                [(ngModel)]="clientDetails.phones.work"
                [ngModelOptions]="{standalone: true}"
                (keyup)="updateButton();"
                type="text" class="inputForm">
                <span style="color: red">*</span></div>
            </div>


          </div>
          <div class="col-xs-4"></div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <div class="row">
              <div class="col-xs-4"> Мобильный 1:</div>
              <div class="col-xs-8"><input
                [(ngModel)]="clientDetails.phones.mobile[0]"
                [ngModelOptions]="{standalone: true}"
                (keyup)="updateButton();"
                type="text" class="inputForm">
                <span style="color: red">*</span></div>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="row">
              <div class="col-xs-4">     Мобильный 2:</div>
              <div class="col-xs-8"> <input
                [(ngModel)]="clientDetails.phones.mobile[1]"
                [ngModelOptions]="{standalone: true}"
                (keyup)="updateButton()"
                type="text" class="inputForm"></div>
            </div>


          </div>
          <div class="col-xs-4">
            <div class="row">
              <div class="col-xs-4">Мобильный 3:</div>
              <div class="col-xs-8"><input
                [(ngModel)]="clientDetails.phones.mobile[2]"
                [ngModelOptions]="{standalone: true}"
                (keyup)="updateButton()"
                type="text" class="inputForm"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <input *ngIf="change"
                   [disabled] = "!buttonEnabled"
                   (click)="closeForm()" type="submit" value="Сохранить">
            <input *ngIf="add"
                   [disabled] = "!buttonEnabled"
                   (click)="closeForm()" type="submit" value="Добавить">
            <span *ngIf="!buttonEnabled"
              class="pull-right" style="color: red">{{errorMessage}}</span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- ///////////////////////////////////////////////////////////////////   -->