
<!--  MODAL FORM FOR CHANGE CLIENT INFORMATION  -->
<div *ngIf="visible" class="modal-form">
  <div class="modal-form-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-11"></div>
        <div class="col-xs-1">
         <span class="closeModal" *ngIf= "buttonEnabled" (click)="closeForm()">
        &nbsp;X&nbsp;
      </span>
        </div>
      </div>

      <!-- /////////////////// ERRORS ////////////////////////////////// -->
      <div *ngIf="errors === 'errorLoading'" class="text-center" action="">
        <h3>Произошла ошибка при загрузке данных, попробуйте снова</h3>
      </div>
      <div *ngIf="errors === 'loadingClient'" action="" class="text-center">
        <h3>Идет загрузка данных...</h3>
      </div>
      <div *ngIf="errors === 'savingClient'" action="" class="text-center">
       <h3> Сохраняем...</h3>
      </div>
      <div *ngIf="errors === 'errorSavingClient'" action="" class="text-center">
        <h3> Ошибка при сохранении данных, обновите страницу и попробуйте заново...</h3>
      </div>
      <!--////////////////////////////////////////////////////////////////-->

      <form *ngIf="errors === 'success'" action="">
        <div class="row">
          <div class="col-xs-4">
            Имя:
            <input [(ngModel)]="clientDetails.name"
                   [ngModelOptions]="{standalone: true}"
                   (keyup)="updateButton()"
                   type="text" class="inputForm" required>
            <span style="color: red">*</span>
          </div>
          <div class="col-xs-4">
            Фамилия:
            <input
              [(ngModel)]="clientDetails.surname"
              [ngModelOptions]="{standalone: true}"
              (keyup)="updateButton()"
              required="false" type="text" class="inputForm">
            <span style="color: red">*</span>
          </div>
          <div class="col-xs-4">
            Отчество:
            <input
              [(ngModel)]="clientDetails.patronymic"
              [ngModelOptions]="{standalone: true}"
              type="text" class="inputForm">
          </div>
        </div>
        <div class="row">
          <hr>
          <div class="col-xs-4">
            Пол:
            <input class="inputForm" type="radio" name="gender" value="male">
            Мужской
            <input class="inputForm" type="radio" name="gender" value="female">
            Женский
          </div>
          <div class="col-xs-4">
            Дата рождения:
            <input class="inputForm" type="date">
          </div>
          <div class="col-xs-4">
            Характер:
            <select class="inputForm" name="character" id="">
              <option value="char">
                Характер
              </option>
              <option value="char">
                Характер
              </option>
              <option value="char">
                Характер
              </option>
            </select>
          </div>
        </div>
        <div class="row">
          <hr>
          <div class="col-xs-12">
            Адрес проживания (фактический):
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            Улица:
            <input type="text" class="inputForm">
          </div>
          <div class="col-xs-4">
            Дом:
            <input type="text" class="inputForm">
          </div>
          <div class="col-xs-4">
            Квартира:
            <input type="text" class="inputForm">
          </div>
        </div>
        <div class="row">
          <hr>
          <div class="col-xs-12">
            Адрес регистрации:
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            Улица:
            <input type="text" class="inputForm">
          </div>
          <div class="col-xs-4">
            Дом:
            <input type="text" class="inputForm">
          </div>
          <div class="col-xs-4">
            Квартира:
            <input type="text" class="inputForm">
          </div>
        </div>
        <div class="row">
          <hr>
          <div class="col-xs-12">
            Телефоны:
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            Домашний:
            <input type="text" class="inputForm">
          </div>
          <div class="col-xs-4">
            Рабочий:
            <input type="text" class="inputForm">
          </div>
          <div class="col-xs-4"></div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            Мобильный 1:
            <input type="text" class="inputForm">
          </div>
          <div class="col-xs-4">
            Мобильный 2:
            <input type="text" class="inputForm">
          </div>
          <div class="col-xs-4">
            Мобильный 3:
            <input type="text" class="inputForm">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <input *ngIf="change"
                   [disabled] = "!buttonEnabled"
                   (click)="closeForm()" type="submit" value="Сохранить">
            <input *ngIf="add"
                   [disabled] = "!buttonEnabled"
                   (click)="closeForm()" type="submit" value="Добавить">
            <span *ngIf="!buttonEnabled"
              class="pull-right" style="color: red">* поля объязательны для заполнения</span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- ///////////////////////////////////////////////////////////////////   -->