<div>

  <table class="client-list">
    <tbody>
    <tr>
      <th>ФИО</th>
      <th>Характер</th>
      <th>Возраст</th>
      <th>Общий остаток счетов</th>
      <th>Максимальный остаток</th>
      <th>Минимальный остаток</th>
    </tr>

    <tr *ngFor="let record of list" [ngClass]="{active: selectedId === record.id}" (click)="selectedId = record.id">
      <td>{{record.fio}}</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    </tbody>
  </table>
  <div>
    <button class="buttonStyle editingButtons" (click)="addClient()">+</button>
  </div>
  <div>
    <button class="buttonStyle editingButtons" (click)="editClient()" [disabled]="!selectedId">...</button>
  </div>
  <div>
    <button class="buttonStyle editingButtons">-</button>
  </div>

  <client-form #clientForm></client-form>
</div>
