<!-- ////////   LIST OF CLIENTS //////////////-->
<div class="container wrapper" [ngClass]="{'opacity':modalChangeForm}">
  <div class="row">
    <div class="pull-right">
      <button (click)="exit.emit(exam)">Выход</button>
    </div>
  </div>
  <div class="row ">
    <div class="col-xs-3">Ф.И.О <input
      [(ngModel)]="filter"
      [ngModelOptions]="{standalone: true}"
      type="text">
      <button (click)="loadFilteredList()">Find</button>
    </div>
    <div class="col-xs-1">Характер</div>
    <div class="col-xs-1 text-center">
      Возраст <br>
      <span *ngIf="sort !== 'age' || sort === ''" (click)="loadSortedList('age')"
            class="glyphicon glyphicon-sort-by-order"></span>
      <span *ngIf="sort === 'age'" (click)="loadSortedList('ageDesc')"
            class="glyphicon glyphicon-sort-by-order-alt"></span>
    </div>
    <div class="col-xs-2 text-center">
      Общий остаток счетов <br>
      <span *ngIf="sort !== 'total' || sort === ''" (click)="loadSortedList('total')"
            class="glyphicon glyphicon-sort-by-order"></span>
      <span *ngIf="sort === 'total'" (click)="loadSortedList('totalDesc')"
            class="glyphicon glyphicon-sort-by-order-alt"></span>
    </div>
    <div class="col-xs-2 text-center">
      Максимальный остаток <br>
      <span *ngIf="sort !== 'max' || sort === ''" (click)="loadSortedList('max')"
            class="glyphicon glyphicon-sort-by-order"></span>
      <span *ngIf="sort === 'max'" (click)="loadSortedList('maxDesc')"
            class="glyphicon glyphicon-sort-by-order-alt"></span>
    </div>
    <div class="col-xs-2 text-center">
      Минимальный остаток <br>
      <span *ngIf="sort !== 'min' || sort === ''" (click)="loadSortedList('min')"
            class="glyphicon glyphicon-sort-by-order"></span>
      <span *ngIf="sort === 'min'" (click)="loadSortedList('minDesc')"
            class="glyphicon glyphicon-sort-by-order-alt"></span>
    </div>
    <div class="col-xs-1"></div>
  </div>

  <div *ngIf="loading" class="row text-center">
    Загрузка данных... <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
  </div>

  <div *ngIf="errorLoading" class="row text-center">
    Произошла ошибка при загрузке данных, попробуй обновить страницу
  </div>

  <div *ngIf="emptyList" id="emptyList" class="row text-center">
    <h2>Список пуст</h2>
  </div>

  <div *ngIf="!emptyList && !errorLoading && !loading">
    <div *ngFor="let entry of list" class="row infoRow">
      <!-- /////// ФИО  колонка//////////-->
      <div class="col-xs-3">
        {{entry.fio}}
      </div>
      <!-- /////// Характер колонка ///////// ///////////////////////////// переделатьб ////////////////////-->
      <div class="col-xs-1 text-center">
        {{entry.charm}}
      </div>
      <!-- //////  Возраст ///////////-->
      <div class="col-xs-1 text-center">
        {{entry.age}}
      </div>
      <!-- /////// Общий счет /////////-->
      <div class="col-xs-2 text-center">
        {{entry.totalAccountBalance}}
      </div>
      <!--//////// Максимальный счет-->
      <div class="col-xs-2 text-center">
        {{entry.maxAccountBalance}}
      </div>
      <!-- //////// Минимальный счет-->
      <div class="col-xs-2 text-center">
        {{entry.id}}
      </div>
      <div class="col-xs-1">
        <button (click)="openModalAddForm()">+</button>
        <button (click)="openModalChangeForm(entry.id)">...</button>
        <button *ngIf="entry.id !== deletingClient" (click)="deleteClient(entry.id)">-</button>
        <span *ngIf="entry.id === deletingClient" style="font-size: small"
              class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-4">
      <pagination
        #pagination
        (page)="loadPageOfList($event)"
      ></pagination>
    </div>
    <div class="col-xs-4">
      <div class="small pull-right" style="margin-top: 5%;">
        Скачать список в формате:
        <select
          [(ngModel)]="fileTypeForDownload"
        >
          <option value="application/pdf">
            PDF
          </option>
          <option value="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
            XSLX
          </option>
        </select>
        <br>
        <button (click)="loadFile()" [disabled]="!fileTypeForDownload">Скачать</button>
      </div>
    </div>
  </div>

</div>
<!-- ////////////////////////////////////////////// -->
<change-component
  #changeForm
  (saved)="closeModalForm($event)"
>
</change-component>



