<div class="container">
  <p>
    <button (click)="exit.emit()">Выход</button>
  </p>

  <div class="row">
    <div class="col-md-8"><h2>Список клиентов</h2></div>
    <div class="col-md-4">
      <label class="form-inline">Скачать
        <select [ngModel]="viewType" name="entryNum" class="form-control input-sm" (ngModelChange)="loadReport($event)">
          <option *ngFor="let i of viewTypes" [ngValue]="i">{{i}}</option>
        </select>
      </label>
    </div>
  </div>

  <label for="filterForm">Искать</label>
  <form #f="ngForm" (submit)="filterList()" id="filterForm" novalidate>
    <div class="form-row">
      <div class="form-group col-md-3">
        <input name="filterInputs" [(ngModel)]="requestParams.filterInput" required type="text" class="form-control"
               id="inputFilterVal">
      </div>
      <div class="form-group col-md-2">
        <select class="form-control"
                required
                [(ngModel)]="requestParams.filterBy" name="charm">
          <option *ngFor="let col of filterColumns" [ngValue]="col.key">{{col.value}}</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <button type="submit" class="btn btn-primary">Поиск</button>
      </div>
    </div>
  </form>

  <label class="form-inline">Показать
    <select [ngModel]="pageSize" name="entryNum" class="form-control input-sm" id="entry-num"
            (ngModelChange)="setPageSize($event)">
      <option *ngFor="let i of pageSizeOptions" [ngValue]="i">{{i}}</option>
    </select> входов
  </label>

  <div class="col-md-10">
    <table class="table table-hover" id="clientsListTable">
      <thead>
      <tr style="white-space:nowrap">
        <th *ngFor="let col of columns; let i = index" (click)="sort(i)"
            [ngClass]="{sort0:requestParams.orderBy === col.key && !requestParams.isDesc,
            sort1:requestParams.orderBy === col.key && requestParams.isDesc}">
          {{col.value}}
        </th>
      </tr>
      </thead>
      <tbody>
      <tr class="clickable-row" *ngFor="let client of clientsList; let i = index" id="{{i}}"
          [ngClass]="{active:selectedClientId === i}" (click)="selectClient(i)">
        <td>{{client.surname}} {{client.name}} {{client.patronymic}}</td>
        <td>{{client.charm.name}}</td>
        <td>{{client.age}}</td>
        <td>{{client.totalBalance}}</td>
        <td>{{client.minBalance}}</td>
        <td>{{client.maxBalance}}</td>
      </tr>

      </tbody>
    </table>
  </div>
  <div class="col-md-2">
    <p>
      <button (click)="onAddBtnClicked()" type="button" class="btn btn-link">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
    </p>
    <p>
      <button (click)="onEditBtnClicked()" id="edit-button" type="button" class="btn btn-link" disabled>
        <span class="glyphicon glyphicon-option-horizontal"></span>
      </button>
    </p>
    <p>
      <button (click)="removeClient()" type="button" id="btn-remove" class="btn btn-link" disabled>
        <span class="glyphicon glyphicon-minus"></span>
      </button>
    </p>
  </div>

  <!--Pagination-->
  <div class="text-center col-md-10">
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
      <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(1)">Начало</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(pager.currentPage - 1)">Пред.</a>
      </li>
      <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
        <a (click)="setPage(page)">{{page}}</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.currentPage + 1)">След.</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.totalPages)">Конец</a>
      </li>
    </ul>
  </div>

  <client-form-component></client-form-component>
</div>