<div class="container">
  <div class="row">
    &nbsp;
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-login">

        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <a href="#" [ngClass]="{'active': !registration}" id="login-form-link" (click)="registration = false">
                Вход
              </a>
            </div>
            <div class="col-xs-6">
              <a href="#" [ngClass]="{'active': registration}" id="register-form-link" (click)="registration = true">
                Регистрация
              </a>
            </div>
          </div>
          <hr>
        </div>

        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">

              <form *ngIf="!registration">

                <div class="form-group">
                  <input type="text" tabindex="1" class="form-control"
                         placeholder="Имя пользователя"
                         [(ngModel)]="fieldEnterLogin" [ngModelOptions]="{standalone: true}"
                         (keyup)="updateEnterButton()" [disabled]="disabled"
                  >
                </div>

                <div class="form-group">
                  <input type="password" tabindex="2" class="form-control"
                         placeholder="Пароль"
                         [(ngModel)]="fieldEnterPassword" [ngModelOptions]="{standalone: true}"
                         (keyup)="updateEnterButton()" [disabled]="disabled"
                  >

                </div>

                <div class="form-group text-center">
                  <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
                  <label for="remember"> Запомни меня!</label>
                </div>

                <div class="form-group" *ngIf="errorMessage">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="text-center">
                        <div class="alert alert-danger" role="alert">{{errorMessage}}</div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                      <input type="submit" name="login-submit" id="login-submit" tabindex="4"
                             class="form-control btn btn-login" value="Войти"
                             (click)="enterButtonClicked()" [disabled]="!enterButtonEnabled"
                      >
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="text-center">
                        <a tabindex="5" class="forgot-password" (click)="forgotPassword()">
                          Ой, я забыл пароль. Чё делать?</a>
                      </div>
                    </div>
                  </div>
                </div>

              </form>


              <form *ngIf="registration">
                <div class="form-group">
                  <input type="text" name="username" id="new_username" tabindex="1" class="form-control"
                         placeholder="Имя пользователя" value="">
                </div>
                <div class="form-group">
                  <input type="email" name="email" id="email" tabindex="1" class="form-control"
                         placeholder="Электронная почта пользователя" value="">
                </div>
                <div class="form-group">
                  <input type="password" name="password" id="new_password" tabindex="2" class="form-control"
                         placeholder="Пароль">
                </div>
                <div class="form-group">
                  <input type="password" name="confirm-password" id="confirm_password" tabindex="2" class="form-control"
                         placeholder="Подтверждение пароля">
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                      <input type="submit" name="register-submit" id="register-submit" tabindex="4"
                             class="form-control btn btn-register" value="Регистрация"
                             (click)="registrationButtonClicked()"
                      >
                    </div>
                  </div>
                </div>
              </form>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>