<form #modal-form="ngForm">
<div>
  <div>
    <label>Фамилия</label>
    <input name="surname" [(NgModel)]="client.surname"/>
  </div>
  <div>
    <label>Имя</label>
    <input name="name" [(NgModel)]="client.name"/>
  </div>
  <div>
    <label>Отчество</label>
    <input name="patronymic" [(NgModel)]="client.patronymic"/>
  </div>
  <div>
    <label>Пол</label>
    <p><input name="gender" type="radio" value="male" [(NgModel)]="client.gender"/>Мужской</p>
    <p><input name="gender" type="radio" value="female" [(NgModel)]="client.gender"/>Женский</p>
  </div>
  <div>
    <label>Дата рождения</label>
    <input type="number" name="birth_date" [(NgModel)]="client.birth_date"/>
  </div>
  <div>
    <label>Характер</label>
    <select name="charm" [(NgModel)]="client.charm"/>
      <option *ngFor="let charm of charms" [value]="charm">
        {{charm}}
      </option>
    </select>
  </div>

  <div>Адрес проживания</div>
  <div>
    <label>Улица</label>
    <input name="factAddrStreet" [(NgModel)]="client.factAddrStreet"/>
  </div>
  <div>
    <label>Дом</label>
    <input name="factAddrHouse" [(NgModel)]="client.factAddrHouse"/>
  </div>
  <div>
    <label>Квартира</label>
    <input name="factAddrFlat" [(NgModel)]="client.factAddrFlat"/>
  </div>

  <div>Адрес регистрации</div>
  <div>
    <label>Улица</label>
    <input name="regAddrStreet" [(NgModel)]="client.regAddrStreet"/>
  </div>
  <div>
    <label>Дом</label>
    <input name="regAddrHouse" [(NgModel)]="client.regAddrHouse"/>
  </div>
  <div>
    <label>Квартира</label>
    <input name="regAddrFlat" [(NgModel)]="client.regAddrFlat"/>
  </div>

  <div>Телефоны</div>
  <div>
    <label>Домашний</label>
    <input type="number" name="homePhone" [(NgModel)]="client.homePhone"/>
  </div>
  <div>
    <label>Рабочий</label>
    <input type="number" name="workPhone" [(NgModel)]="client.workPhone"/>
  </div>
  <div>
    <label>Сотовый</label>
    <input type="number" name="mobilePhone" [(NgModel)]="client.mobilePhone"/>
  </div>

  <div>
    <button (click)="addClient()">Добавить</button>
  </div>
</div>
</form>