.modal {
  background: rgba(0, 0, 0, 0.6);
}

.modal-header {
  padding: 20px 20px;
}

.modal-dialog {
  overflow-y: initial !important
}

.modal-body {
  height: 60vh;
  overflow-y: auto;
}

.modal-body {
  padding: 40px 50px;
}

.phone-row {
  margin-bottom: 10px;
}