<div class="row">
  <div class="col-lg-11">
    <table class="table table-bordered">
      <thead class="thead-light">
      <tr>
        <th scope="col">
          ФИО
        </th>
        <th scope="col">
          Характер
        </th>
        <th scope="col">
          Возраст
          <a href="#" class="btn btn-sort glyphicon glyphicon-arrow-up" (click)="registration = false"></a>
          <a href="#" class="btn btn-sort glyphicon glyphicon-list" (click)="registration = false"></a>
          <a href="#" class="btn btn-sort glyphicon glyphicon-arrow-down" (click)="registration = false"></a>
        </th>
        <th scope="col">
          Общий остаток счетов
          <a href="#" class="btn btn-sort glyphicon glyphicon-arrow-up" (click)="registration = false"></a>
          <a href="#" class="btn btn-sort glyphicon glyphicon-list" (click)="registration = false"></a>
          <a href="#" class="btn btn-sort glyphicon glyphicon-arrow-down" (click)="registration = false"></a>
        </th>
        <th scope="col">
          Максимальный остаток
          <a href="#" class="btn btn-sort glyphicon glyphicon-arrow-up" (click)="registration = false"></a>
          <a href="#" class="btn btn-sort glyphicon glyphicon-list" (click)="registration = false"></a>
          <a href="#" class="btn btn-sort glyphicon glyphicon-arrow-down" (click)="registration = false"></a>
        </th>
        <th scope="col">
          Минимальный остаток
          <a href="#" class="btn btn-sort glyphicon glyphicon-arrow-up" (click)="registration = false"></a>
          <a href="#" class="btn btn-sort glyphicon glyphicon-list" (click)="registration = false"></a>
          <a href="#" class="btn btn-sort glyphicon glyphicon-arrow-down" (click)="registration = false"></a>
        </th>
      </tr>
      </thead>
      <tbody *ngFor="let client of clientRecords">
      <tr (click)="clientRecordClicked(client.id)" [ngClass]="{active: client.id == selectedClientRecordId}">
        <td scope="row">{{client.fullName}}</td>
        <td>{{client.charm}}</td>
        <td>{{client.age}}</td>
        <td>{{client.totalAccountBalance}}</td>
        <td>{{client.maxAccountBalance}}</td>
        <td>{{client.minAccountBalance}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-1">
    <button class="btn btn-change-info"
            id="client-list-form-add"
            (click)="editClientRecord(null)">
      +
    </button>
    <button class=" btn btn-change-info"
            [disabled]="!selectedClientRecordId"
            id="client-list-form-inspect"
            (click)="editClientRecord(selectedClientRecordId)">
      ...
    </button>
    <button class="btn btn-change-info"
            [disabled]="!selectedClientRecordId"
            id="client-list-form-remove"
            (click)="removeClientRecord(selectedClientRecordId)">
      -
    </button>
  </div>
</div>
<div class="text-center">
  <a *ngFor="let pageNum of pageNums" href="#" class="btn btn-list-number" (click)="registration = false">
    {{pageNum}}
  </a>
</div>